/* ==========================================================================
   FUNCTION-PLOT
   ========================================================================== */
.graph_inputs {
  border: none; }
  .graph_inputs td {
    border: none; }

.archive__subtitle {
  clear: left; }
